.wrapper {
  width: 80rem;
  margin: 10rem auto;
  padding-bottom: 10rem;

  background-color: rgba(255, 255, 255, 0.412);
  padding: 3rem 4rem;
  border-radius: 10px;
}

.heading {
  text-align: center;
  font-size: calc(var(--big-font) * 0.8);
  color: var(--secondary-color-lighter);
  display: inline-block;
  padding-bottom: 3rem;
  border-bottom: 1px solid black;
}

.wrapper > * {
  margin-bottom: 5rem;
}
