.foodItem {
  display: flex;
  align-items: center;
  gap: 4rem;

  /* background-color: rgba(255, 255, 255, 0.612); */
  border-bottom: 2px solid rgba(255, 255, 255, 0.612);
  border-radius: 10px;
  /* padding: 1rem; */
}

.foodItem span {
  margin-left: auto;
  margin-right: 2rem;
}

.text,
.foodItem span {
  font-size: var(--medium-font);
}

.text h3 {
  font-weight: 800;
  color: var(--secondary-color);
}

.text p {
  font-size: calc(var(--small-font) * 1.4);
  color: var(--secondary-color-dark);
  margin-top: 1.5rem;
  width: 300px;
}

.image img {
  /* width: 100%;
  height: 100%; */
  width: 150px;
  height: 150px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
